/*************************************************************************
                                main body area
/*************************************************************************/
#content{
    margin-top:50px;
    margin-bottom:70px;
}

.major{
    width:190px;
    display:inline-block;
    margin:21px;
}
.major img{
    width:100%;
}






